<div class="container">
    <div *ngIf="moviesDetail">
        <div class="content">
            
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{moviesDetail.Title}}</mat-card-title>
                      <mat-card-subtitle>{{moviesDetail.Year}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{moviesDetail.Poster}}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                      {{moviesDetail.Plot}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <p>{{moviesDetail.Actors}}</p>
                      <p>{{moviesDetail.Genre}}</p>
                    </mat-card-actions>
                    <button mat-flat-button color="primary" (click)="backHome()">Regresar</button>
                  </mat-card>
                  


            
                

        </div>
       
      
        
       
        
        
        
  
        
      
      

    </div>

   
    

</div>




